h1 {
  font-size: 50px;
}
h6 {
  padding-top: 36px;
  font-family: "Source Code Pro", monospace;
  color: #5d54a4;
  font-size: 20px;
}
input[type="search"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 42px;
  outline: 0;
  padding: 10px;
  width: 300px;
}

.weather-container {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  max-width: 600px;
  padding: 20px 20px 20px 26px;
  font-family: "Roboto", sans-serif;
}

#location {
  height: 28px;
  color: #ffffff;
  background-color: #5d54a4;
  border-radius: 2px;
  width: 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.city-search {
  margin-top: 10px;
}
.submit-button {
  height: 42px;
  color: #ffffff;
  background-color: #5d54a4;
  border-radius: 2px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.degree-buttons {
  float: right;
  right: 0;
  margin-top: 20px;
}
.weather-summary {
  color: #5d54a4;
  margin-top: 16px;
}

.weather-detail {
  margin-top: -12px;
}
.weather-emoji {
  font-size: 60px;
  float: left;
}
.weather-temp {
  font-size: 58px;
  padding-top: 28px;
  color: #d789d7;
}
.real-feel {
  margin-top: -18px;
}
.wind {
  font-size: 20px;
  color: #5d54a4;
  float: right;
  margin-top: -80px;
  margin-right: 60px;
}
.weather-week {
  margin-top: 20px;
  margin-left: 1px;
  color: #5d54a4;
}
.forecast-emoji {
  float: left;
  font-size: 32px;
  margin-bottom: -24px;
}
.forecast-temp {
  font-size: 30px;
  text-align: right;
}
.forecast-day {
  font-size: 14px;
  padding-left: 10px;
}
